<div class="sidebar-section">
<!--   <h1 class="sidebar-title">Linh's site</h1> -->
  <h3 class="sidebar-title mt-4">📬 Liên hệ</h3>
  <ul class="list-unstyled">
    <li><i class="fa fa-envelope"></i> {{ site.email }}</li>
    <li><i class="fa fa-github"></i> <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>
    <li><i class="fa fa-facebook"></i> <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">Facebook</a></li>
    <li><i class="fa fa-linkedin"></i> <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></li>
  </ul>
</div>
